In [101]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as ply

In [102]:
with open('train_data.txt', 'r', encoding='utf-8') as file:
    lines = file.readlines()

In [103]:
with open('train_data.txt', 'r', encoding='utf-8') as file:
    lines = file.readlines()

# Extract movie details from each line and create a list of dictionaries
data = []
for line in lines:
    parts = line.strip().split(' ::: ')
    movie_data = {
        'Numbering': parts[0],
        'Name of Movie': parts[1],
        'Genre': parts[2],
        'Description': parts[3]
    }
    data.append(movie_data)

# Create a pandas DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

      Numbering                               Name of Movie        Genre  \
0             1                Oscar et la dame rose (2009)        drama
1             2                                Cupid (1997)     thriller
2             3            Young, Wild and Wonderful (1980)        adult
3             4                       The Secret Sin (1915)        drama
4             5                      The Unrecovered (2007)        drama
...         ...                                         ...          ...
54209     54210                             "Bonino" (1953)       comedy
54210     54211                 Dead Girls Don't Cry (????)       horror
54211     54212   Ronald Goedemondt: Ze bestaan echt (2008)  documentary
54212     54213                    Make Your Own Bed (1944)       comedy
54213     54214  Nature's Fury: Storm of the Century (2006)      history

                                             Description
0      Listening in to a conversation between his doc...
1      A brother and sister with a past incestuous re...
2      As the bus empties the students for their fiel...
3      To help their unemployed father make ends meet...
4      The film's title refers not only to the un-rec...
...                                                  ...
54209  This short-lived NBC live sitcom centered on B...
54210  The NEXT Generation of EXPLOITATION. The siste...
54211  Ze bestaan echt, is a stand-up comedy about gr...
54212  Walter and Vivian live in the country and have...
54213  On Labor Day Weekend, 1935, the most intense h...

[54214 rows x 4 columns]

In [104]:
# Read the entire dataset from the text file
with open('test_data.txt', 'r', encoding='utf-8') as file:
    lines = file.readlines()

# Extract movie details from each line and create a list of dictionaries
data = []
for line in lines:
    parts = line.strip().split(' ::: ')
    movie_data = {
        'Numbering': parts[0],
        'Name of Movie': parts[1],
        'Description': parts[2]
    }
    data.append(movie_data)

# Create a pandas DataFrame
test_df = pd.DataFrame(data)

# Print the DataFrame
print(test_df)

      Numbering                   Name of Movie  \
0             1            Edgar's Lunch (1998)
1             2        La guerra de pap√° (1977)
2             3     Off the Beaten Track (2010)
3             4          Meu Amigo Hindu (2015)
4             5               Er nu zhai (1955)
...         ...                             ...
54195     54196  "Tales of Light & Dark" (2013)
54196     54197     Der letzte Mohikaner (1965)
54197     54198             Oliver Twink (2007)
54198     54199               Slipstream (1973)
54199     54200       Curitiba Zero Grau (2010)

                                             Description
0      L.R. Brane loves his life - his car, his apart...
1      Spain, March 1964: Quico is a very naughty chi...
2      One year in the life of Albin and his family o...
3      His father has died, he hasn't spoken with his...
4      Before he was known internationally as a marti...
...                                                  ...
54195  Covering multiple genres, Tales of Light & Dar...
54196  As Alice and Cora Munro attempt to find their ...
54197  A movie 169 years in the making. Oliver Twist,...
54198  Popular, but mysterious rock D.J Mike Mallard ...
54199  Curitiba is a city in movement, with rhythms a...

[54200 rows x 3 columns]

In [105]:
df.head()

,Numbering,Name of Movie,Genre,Description
0,1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his doc...
1,2,Cupid (1997),thriller,A brother and sister with a past incestuous re...
2,3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fiel...
3,4,The Secret Sin (1915),drama,To help their unemployed father make ends meet...
4,5,The Unrecovered (2007),drama,The film's title refers not only to the un-rec...

In [106]:


# Assuming you already have df DataFrame with the columns Numbering, Name of Movie, Genre, Description
X = df['Description']
y = df['Genre']

In [107]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [108]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Initialize the TF-IDF vectorizer
tfidf_vectorizer = TfidfVectorizer(max_features=5000)

# Fit and transform the training data
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train)

# Transform the testing data
X_test_tfidf = tfidf_vectorizer.transform(X_test)

In [109]:
from sklearn.naive_bayes import MultinomialNB

# Initialize and train the Naive Bayes classifier
naive_bayes_classifier = MultinomialNB()
naive_bayes_classifier.fit(X_train_tfidf, y_train)

MultinomialNB()

In [110]:
from sklearn.metrics import accuracy_score, classification_report

# Make predictions on the test data
y_pred = naive_bayes_classifier.predict(X_test_tfidf)

# Calculate accuracy and print the classification report
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.5111131605644195
Classification Report:
               precision    recall  f1-score   support

      action       0.58      0.05      0.10       263
       adult       0.67      0.02      0.03       112
   adventure       0.38      0.02      0.04       139
   animation       0.00      0.00      0.00       104
   biography       0.00      0.00      0.00        61
      comedy       0.51      0.40      0.45      1443
       crime       0.00      0.00      0.00       107
 documentary       0.57      0.89      0.69      2659
       drama       0.44      0.83      0.58      2697
      family       0.00      0.00      0.00       150
     fantasy       0.00      0.00      0.00        74
   game-show       1.00      0.03      0.05        40
     history       0.00      0.00      0.00        45
      horror       0.76      0.26      0.39       431
       music       0.92      0.08      0.15       144
     musical       0.00      0.00      0.00        50
     mystery       0.00      0.00      0.00        56
        news       0.00      0.00      0.00        34
  reality-tv       1.00      0.02      0.03       192
     romance       0.00      0.00      0.00       151
      sci-fi       1.00      0.01      0.01       143
       short       0.66      0.08      0.14      1045
       sport       0.73      0.09      0.15        93
   talk-show       0.00      0.00      0.00        81
    thriller       0.36      0.01      0.03       309
         war       0.00      0.00      0.00        20
     western       0.99      0.48      0.65       200

    accuracy                           0.51     10843
   macro avg       0.39      0.12      0.13     10843
weighted avg       0.52      0.51      0.42     10843

c:\Users\96659\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\96659\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\96659\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [111]:
# Example of predicting the genre for a new movie's plot summary
new_movie_plot_summary = "A group of friends embark on a thrilling adventure."
new_movie_tfidf = tfidf_vectorizer.transform([new_movie_plot_summary])
predicted_genre = naive_bayes_classifier.predict(new_movie_tfidf)

print("Predicted Genre:", predicted_genre[0])

Predicted Genre: documentary

In [112]:
test_df.head()

,Numbering,Name of Movie,Description
0,1,Edgar's Lunch (1998),"L.R. Brane loves his life - his car, his apart..."
1,2,La guerra de pap√° (1977),"Spain, March 1964: Quico is a very naughty chi..."
2,3,Off the Beaten Track (2010),One year in the life of Albin and his family o...
3,4,Meu Amigo Hindu (2015),"His father has died, he hasn't spoken with his..."
4,5,Er nu zhai (1955),Before he was known internationally as a marti...

In [113]:
# Assuming you already have the test_df DataFrame

# Extract the "Description" column from the test dataset
X_test_new = test_df['Description']

# Transform the test data into TF-IDF vectors using the same vectorizer fitted on the training data
X_test_new_tfidf = tfidf_vectorizer.transform(X_test_new)

# Make predictions on the test data using the trained classifier
y_pred_new = naive_bayes_classifier.predict(X_test_new_tfidf)

# Add the predicted genres to the test_df DataFrame
test_df['Predicted Genre'] = y_pred_new

# Print the test_df DataFrame with the predicted genres
print(test_df)

      Numbering                   Name of Movie  \
0             1            Edgar's Lunch (1998)
1             2        La guerra de pap√° (1977)
2             3     Off the Beaten Track (2010)
3             4          Meu Amigo Hindu (2015)
4             5               Er nu zhai (1955)
...         ...                             ...
54195     54196  "Tales of Light & Dark" (2013)
54196     54197     Der letzte Mohikaner (1965)
54197     54198             Oliver Twink (2007)
54198     54199               Slipstream (1973)
54199     54200       Curitiba Zero Grau (2010)

                                             Description Predicted Genre
0      L.R. Brane loves his life - his car, his apart...           drama
1      Spain, March 1964: Quico is a very naughty chi...           drama
2      One year in the life of Albin and his family o...     documentary
3      His father has died, he hasn't spoken with his...           drama
4      Before he was known internationally as a marti...           drama
...                                                  ...             ...
54195  Covering multiple genres, Tales of Light & Dar...           drama
54196  As Alice and Cora Munro attempt to find their ...           drama
54197  A movie 169 years in the making. Oliver Twist,...          comedy
54198  Popular, but mysterious rock D.J Mike Mallard ...           drama
54199  Curitiba is a city in movement, with rhythms a...     documentary

[54200 rows x 4 columns]

In [114]:
print(test_df[['Description', 'Predicted Genre']])

                                             Description Predicted Genre
0      L.R. Brane loves his life - his car, his apart...           drama
1      Spain, March 1964: Quico is a very naughty chi...           drama
2      One year in the life of Albin and his family o...     documentary
3      His father has died, he hasn't spoken with his...           drama
4      Before he was known internationally as a marti...           drama
...                                                  ...             ...
54195  Covering multiple genres, Tales of Light & Dar...           drama
54196  As Alice and Cora Munro attempt to find their ...           drama
54197  A movie 169 years in the making. Oliver Twist,...          comedy
54198  Popular, but mysterious rock D.J Mike Mallard ...           drama
54199  Curitiba is a city in movement, with rhythms a...     documentary

[54200 rows x 2 columns]

In [118]:

test_df[['Name of Movie', 'Predicted Genre']].to_csv('solution.txt', index=False)
with open('solution.txt', 'r', encoding='utf-8') as file:
    print()